body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 0;
    margin: 0;
    min-width: 980px;
	font-family: sans-serif;
}
.closebutton {
    position: fixed;
    left: 0;
    top: 0;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 9000;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 50px 30px 50px;
    background-color: white;
    z-index: 2;
    font-family: arial, sans-serif;
    font-size: 20px;
    color: #666;
    text-align: justify;
    overflow-y: auto;
}
.popup > p {
    max-width: 900px;
    width: 100%;
}
.popup > h2 {
    font-size: 30px;
    font-variant: small-caps;
}
#navbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 0 30px 0 30px;
    line-height: 58px;
}
#navbarlinks {
    position: relative;
    padding-right: 15px;
    margin-left: -10px;
    text-align: left;
    float: right;
}
#navbarlinks a {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #404040;
    padding-left: 15px;
    text-decoration: none;
    line-height: 24px;
    text-align: right;
}
#navbarmenu {
    display: inline-block;
    color: #404040;
    cursor: default;
    text-decoration: none;
    float: right;
}
#navbarmenuicon {
    display: inline-block;
    margin-top: 15px;
    width: 30px;
    height: 30px;
    background-image: url('img/menuicon.png');
    opacity: 0.55;
}
#navbarmenuicon:hover {
    opacity: 0.85;
}
#navbarmenubutton {
    position: relative;
    top: -11px;
    margin-left: 10px;
    display: inline-block;
    margin-top: 15px;
    white-space: nowrap;
    border: 1px solid #c6c6c6;
    padding: 0 12px 0 12px;
    line-height: 29px;
    background-color: #4387fd;
    color: white;
    font-size: 13px;
    font-weight: 700;
    font-family: arial, sans-serif;
}
#navbarmenuadd {
    display: inline-block;
    margin-left: 11px;
    width: 30px;
    height: 30px;
    background-image: url(img/static.png);
    background-position: -326px -17px;
    background-size: 356px 144px;
    opacity: 0.55;
}
#navbarmenuadd:hover {
    opacity: 0.85;
}
#navbarlogout:hover {
    display: block;
    background-color: white;
    color: #4387fd;
}
#navbarlogout {
    display: none;
    position: absolute;
    top: 35px;
    right: 0;
    width: 100px;
    line-height: 28px;
    height: 30px;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #404040;
    text-decoration: none;
    background-color: #4387fd;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
    font-family: arial, sans-serif;
}
#navbarlogin {
    display: none;
    position: absolute;
    top: 45px;
    right: 30px;
    width: 100px;
    line-height: 28px;
    height: 90px;
    background-color: white;
    font-family: arial, sans-serif;
    font-size: 13px;
    text-align: center;
    color: #404040;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #4387fd;
    text-decoration: none;
    width: 200px;
}
#logincheckbox:checked + #navbarlogin {
    display: block;
}
#navbarlogin input[type=text] {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
#navbarlogin input[type=password] {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 30px;
    left: 0;
    box-sizing: border-box;
}
#navbarlogin:focus {
    display: block;
}
#loginbutton {
    width: 100%;
    height: 28px;
    position: absolute;
    top: 60px;
    left: 0;
    box-sizing: border-box;
    border: none;
    background-color: #4387fd;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
    font-family: arial, sans-serif;
}
#loginbutton:hover {
    background-color: white;
    color: #4387fd;
}
#navbarmenuprofile:focus > #navbarlogout {
    display: block;
}
#navbarmenunotification {
    position: relative;
    top: -5px;
    display: inline-block;
    margin-left: 11px;
    line-height: 30px;
    width: 20px;
    height: 20px;
    background-image: url(img/static.png);
    background-position: -214px -117px;
    background-size: 356px 144px;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 50%;
}
#navbarmenunotification:hover {
    background-color: rgba(0, 0, 0, 0.85);
}
#navbarmenuprofile {
    position: relative;
    display: inline-block;
    margin-left: 11px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-image: url('fx/icon.png');
    background-size: 32px 32px;
}
#content {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 230px;
}
#contentlogo {
    background-image: url(img/logo2.png);
    background-size: 100% 100%;
    margin-left: calc(50% - 134px);
    width: 269px;
    height: 95px;
}
#contentinput {
    position: absolute;
    /*572 30*/
    /*552 25*/

    width: 572px;
    height: 30px;
    padding: 3px 9px 0 9px;
    font-size: 16px;
    left: calc(50% - 286px);
    border: 1px solid #d4d4d4;
    top: 118px;
}
#contentinput:focus {
    border: 1px solid #4285f4;
}
.contentbuttons {
    position: absolute;
    width: 250px;
    height: auto;
    top: 164px;
    color: #404040;
    left: calc(50% - 125px);
	background-color: #F2F2F2;
}
.contentbuttons > * {
    position: absolute;
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    padding: -4px 8px 0 8px;
    padding-top: -4px;
    margin: 0 8px 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    line-height: 27px;
    height: 29px;
    cursor: default;
}
#contentbuttons > *:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.contentbutton
{
  background-color: #F2F2F2;
  color: #757575;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  height: 36px;
}
#searchbutton {
    left: 0;
}
#cluffybutton {
    right: 0
}
#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    border-top: 1px solid #e4e4e4;
    background-color: #f2f2f2;
}
#footer a {
    color: #666;
    padding-left: 27px;
    height: 40px;
    font-size: 13px;
    line-height: 40px;
    font-family: arial, sans-serif;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}
#navbarlinks a:hover,
#footer a:hover {
    text-decoration: underline;
}
#footerright {
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}