html {
	min-height:100%;
	position:relative;
}
body {
	position:static !IMPORTANT;
}
.closebutton {
	position:fixed;
	left:0;
	top:0;
	height:30px;
	padding:10px;
	cursor:pointer;
	z-index:9000;
}
.popup {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:30px 50px 30px 50px;
	background-color:white;
	z-index:2;
	font-family:arial,sans-serif;
	font-size:20px;
	color:#666;
	text-align:justify;
	overflow-y:auto;
}
.popup > p {
	max-width:900px;
	width:100%;
}
.popup > h2 {
	font-size:30px;
	font-variant:small-caps;
}
#navbar2 {
	background-color:white;
	border-bottom:1px solid #f1f1f1;
	position:absolute;
	top:60px;
	left:0;
	right:0;
	height:59px;
	padding:0 0 0 120px;
	font-size:0;
}
#subtoggle {
	position:relative;
	height:58px;
	line-height:58px;
	display:inline-block !IMPORTANT;
}
#subscribed {
	display:none;
	position:absolute;
	top:58px;
	right:-10px;
}
#subscribed:hover {
	display:block;
}
#subscribed > .subitem {
	display:block;
	position:relative;
	background-color:#f1f1f1;
	min-width:100px;
	height:30px;
	cursor:pointer;
	font-family:arial,sans-serif;
	font-size:13px;
	color:#404040;
	text-transform:lowercase;
	text-wrap:none;
	padding-right:10px;
}
#subscribed > .subitem > span {
	position:relative;
	top:-15px;
}
#subtoggle:hover > #subscribed {
	display:block;
}

.subitem:hover {
	text-decoration:underline !IMPORTANT;
}
a {
	text-decoration:none;
}
.navbar2sub {
	padding:1px 8px 0 8px;
	margin:0 8px 0 8px;
	display:inline-block;
	text-align:center;
	line-height:55px;
	font-family:arial,sans-serif;
	font-size:13px;
	text-decoration:none;
	color:#777;
}
.navbar2sub.active {
	color:#dd4b39;
	font-weight:700;
	border-bottom:3px solid #dd4b39;
}
#navbar3 {
	position:absolute;
	top:120px;
	left:0;
	right:0;
	height:43px;
	font-family:arial,sans-serif;
	font-size:13px;
	color:#808080;
	line-height:43px;
}
#resultstats {
	position:absolute;
	left:120px;
	top:0;
	bottom:0;
	right:0;
	padding-left:16px;
	padding-right:8px;
}
.resultdiv {
	display:block;
	width:544px;
	padding:0 16px 0 16px;
	margin-bottom:23px;
}
.resultdiv > span > a {
	text-decoration:underline;
}
.resultdiv > a:not(.resultlink) {
	font-size:18px;
	color:#1A0DAB;
	font-family:arial,sans-serif;
	text-decoration:none;
	line-height:21.6px;
}
.resultlink:visited {
	color:#006621 !IMPORTANT;
}
.resultlink:hover {
	text-decoration:underline;
}
.resultdiv > a:hover {
	text-decoration:underline;
}
.resultdiv > a:visited {
	color:purple;
}
#results {
	position:relative;
	margin-left:120px;
	width:544px;
}
.resultlink {
	font-family:arial,sans-serif;
	font-size:14px;
	line-height:16px;
	color:#006621;
}
.resulttext {
	font-family:arial,sans-serif;
	display:inline-block;
	font-size:13px;
	color:#545454;
	line-height:18.2px;
	max-height:36.4px;
	overflow:hidden;
	max-width:546px;
}
#cog {
	position:absolute;
	width:70px;
	height:28px;
	right:28px;
	top:13px;
}
#navbar {
	z-index:2;
	background-color:#f1f1f1;
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:60px;
	padding:0;
	line-height:58px;
}
#logo {
	margin:17px 20px 0 15px;
	height:32px;
}
#searchbox {
	box-sizing:border-box;
	width:590px;
	height:30px;
	position:absolute;
	top:15px;
	left:125px;
	padding:3px 9px 0 9px;
	font-size:16px;
}
#searchbutton {
	position:absolute;
	top:15px;
	left:715px;
	width:60px;
	height:30px;
	background:url('img/searchboxbutton.png');
}
#searchbox:focus {
	border:1px solid #4285f4;
}
#navbarmenu {
	position:absolute;
	top:0;
	right:30px;
	display:inline-block;
	color:#404040;
	cursor:default;
	text-decoration:none;
	float:right;
}
#navbarmenuicon {
	display:inline-block;
	margin-top:15px;
	width:30px;
	height:30px;
	background-image:url('img/menuicon.png');
	opacity:0.55;
}
#navbarmenuicon:hover {
	opacity:0.85;
}
#navbarmenubutton {
	position:relative;
	top:-11px;
	margin-left:10px;
	display:inline-block;
	margin-top:15px;
	white-space:nowrap;
	border:1px solid #c6c6c6;
	padding:0 12px 0 12px;
	line-height:29px;
	background-color:#4387fd;
	color:white;
	font-size:13px;
	font-weight:700;
	font-family:arial,sans-serif;
}
#bottomnavwrapper {
	margin-left:8px;
	width:528px;
	margin-bottom:70px;
}
#bottomnav {
	border-collapse:collapse;
	margin:30px auto 30px auto;
	font-size:13px;
	font-family:arial,sans-serif;
}
#bottomnav td {
	text-align:center;
	padding:0;
	border-collapse:collapse;
	color:#000;
}
td:hover > a > .bottomnavtext {
	text-decoration:underline;
}
#bottomnav td a {
	color:#1a0dab;
	text-decoration:none;
	text-align:center;
	display:block;
	white-space:nowrap;
	cursor:pointer;
	vertical-align:bottom;
}
#Cl1 {
	background:url(img/Cl-2.png) no-repeat;
	width:45px;
	height:40px;
	display:block;
	background-attachment:scroll;
	background-position:bottom right;
	background-clip:border-box;
	background-origin:padding-box;
	background-size:auto 100%;
	text-align:center;
	text-decoration:none;
	margin-right:3px;
}
#Cl2 {
	background:url(img/C2-2.png) no-repeat;
	float:right;
	width:65px;
	height:40px;
	display:block;
	background-attachment:scroll;
	background-position:bottom right;
	background-clip:border-box;
	background-origin:padding-box;
	background-size:auto 100%;
	text-align:center;
	text-decoration:none;
	margin-right:3px;
}
.u {
	background:url(img/u2-2.png) no-repeat;
	width:20px;
	height:40px;
	display:block;
	overflow:hidden;
	background-attachment:scroll;
	background-position:bottom left;
	background-clip:border-box;
	background-origin:padding-box;
	background-size:100% auto;
	text-align:center;
	text-decoration:none;
	margin-bottom:10px;
}
#ffle {
	background:url(img/ffle-2.png) no-repeat;
	width:71px;
	height:40px;
	display:block;
	overflow:hidden;
	background-attachment:scroll;
	background-position:bottom left;
	background-clip:border-box;
	background-origin:padding-box;
	background-size:100% auto;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	margin-bottom:10px;
	margin-left:3px;
}
#weiter {
	display:block;
	margin-left:53px;
}
#back {
	display:block;
	position:relative;
	font-weight:700;
	margin-right:35px;
	bottom:-10px;
	clear:right;
}
#cur > .u {
	background:url(img/u-2.png) no-repeat;
	width:20px;
	height:40px;
	display:block;
	overflow:hidden;
	background-attachment:scroll;
	background-position:bottom left;
	background-clip:border-box;
	background-origin:padding-box;
	background-size:100% auto;
	text-align:center;
	text-decoration:none;
}
#cur > .bottomnavtext{
	font-weight:700;
}
#footer {
	position:absolute;
	left:0;
	right:0;
	bottom:1px;
	line-height:40px;
	height:40px;
	background-color:#f2f2f2;
	border-top:1px solid #e4e4e4;
}
#footer > a {
	margin-left:27px;
	cursor:pointer;
	text-decoration:none;
	color:#777;
	font-size:13px;
	font-family:arial,sans-serif;
	white-space:nowrap;
}
#footer > a:hover {
	color:#333;
}
#navbarlinks {
	position:absolute;
	top:0;
	right:190px;
	padding-right:15px;
	margin-left:-10px;
	text-align:left;
	float:right;
}
#navbarlinks a, #navbarlinks #subtoggle {
	display:inline;
	cursor:pointer;
	font-family:arial,sans-serif;
	font-size:13px;
	color:#404040;
	padding-left:15px;
	text-decoration:none;
	line-height:58px;
	text-align:right;
}
#navbarmenu {
	display:inline-block;
	color:#404040;
	cursor:default;
	text-decoration:none;
	float:right;
}
#navbarmenuicon {
	display:inline-block;
	margin-top:15px;
	width:30px;
	height:30px;
	background-image:url('img/menuicon.png');
	opacity:0.55;
}
#navbarmenuicon:hover {
	opacity:0.85;
}
#navbarmenubutton {
	position:relative;
	top:-11px;
	margin-left:10px;
	display:inline-block;
	margin-top:15px;
	white-space:nowrap;
	border:1px solid #c6c6c6;
	padding:0 12px 0 12px;
	line-height:29px;
	background-color:#4387fd;
	color:white;
	font-size:13px;
	font-weight:700;
	font-family:arial,sans-serif;
}
#navbarmenuadd {
	display:inline-block;
	margin-left:11px;
	width:30px;
	height:30px;
	background-image:url(img/static.png);
	background-position:-326px -17px;
	background-size:356px 144px;
	opacity:0.55;
}
#navbarmenuadd:hover {
	opacity:0.85;
}
#navbarlogout:hover {
	display:block;
	background-color:white;
	color:#4387fd;
}
#navbarlogout {
	display:none;
	position:absolute;
	top:35px;
	right:0;
	width:100px;
	line-height:28px;
	height:30px;
	background-color:white;
	text-align:center;
	box-sizing:border-box;
	border:1px solid #404040;
	text-decoration:none;
	background-color:#4387fd;
	color:white;
	cursor:pointer;
	font-weight:700;
	font-size:13px;
	font-family:arial,sans-serif;
}
#navbarlogin {
	display:none;
	position:absolute;
	top:45px;
	right:0px;
	width:100px;
	line-height:28px;
	height:90px;
	background-color:white;
	font-family:arial,sans-serif;
	font-size:13px;
	text-align:center;
	color:#404040;
	cursor:pointer;
	box-sizing:border-box;
	border:1px solid #4387fd;
	text-decoration:none;
	width:200px;
}
#logincheckbox:checked + #navbarlogin {
	display:block;
}
#navbarlogin input[type=text] {
	width:100%;
	height:30px;
	position:absolute;
	top:0;
	left:0;
	box-sizing:border-box;
}
#navbarlogin input[type=password] {
	width:100%;
	height:30px;
	position:absolute;
	top:30px;
	left:0;
	box-sizing:border-box;
}
#navbarlogin:focus {
	display:block;
}
#loginbutton {
	width:100%;
	height:28px;
	position:absolute;
	top:60px;
	left:0;
	box-sizing:border-box;
	border:none;
	background-color:#4387fd;
	color:white;
	cursor:pointer;
	font-weight:700;
	font-size:13px;
	font-family:arial,sans-serif;
}
#loginbutton:hover {
	background-color:white;
	color:#4387fd;
}
#navbarmenuprofile:focus > #navbarlogout {
	display:block;
}
#navbarmenunotification {
	position:relative;
	top:-5px;
	display:inline-block;
	margin-left:11px;
	line-height:30px;
	width:20px;
	height:20px;
	background-image:url(img/static.png);
	background-position:-214px -117px;
	background-size:356px 144px;
	background-color:rgba(0,0,0,0.55);
	border-radius:50%;
}
#navbarmenunotification:hover {
	background-color:rgba(0,0,0,0.85);
}

#navbarmenuprofile {
	position:relative;
	display:inline-block;
	margin-left:11px;
	border-radius:50%;
	width:32px;
	height:32px;
	background-image:url('img/icon.png');
	background-size:32px 32px;
}
